<h1>Execs</h1>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>

    <% @execs.each do |item| %>

      <tr id="sortable">

        <td><%= image_tag item.file_name, class:"item" %></td>
        <td><p class="itemTitle"><%= item.name %></p></td>
        <td><p class="itemBody"><%= item.title %></p></td>
        <td><%= link_to "Edit Exec", edit_exec_path(item), class: "button" %></td>
        <td><%= link_to "Delete Exec", exec_path(item), method: :delete, class: "button" %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to "Add Exec", new_exec_path, class: "button" %>
