<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delta Chi Clemson</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons
      ================================================== -->
  <%= favicon_link_tag %>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <%= image_tag 'DX-logo-2.png', class: "DX-logo" %>
        <%= image_tag 'clemsonWord-logo.png', class: "clemson-logo" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#page-top" class="page-scroll">Home</a></li>
        <li><a href="#services" class="page-scroll">Services</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#portfolio" class="page-scroll">Pictures</a></li>
        <li><a href="#team" class="page-scroll">Officers</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header id="header">
  <div class="intro text-center">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>The <span class="brand">Delta Chi</span> Fraternity</h1>
            <p>Clemson University Chapter</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Services Section -->
<div id="services" class="text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 section-title">
      <h2>Our Services</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-desktop"></i>
        <h4>Web Design</h4>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-gears"></i>
        <h4>App Development</h4>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-rocket"></i>
        <h4>Branding</h4>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-line-chart"></i>
        <h4>Marketing</h4>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
      </div>
    </div>
  </div>
</div>
<!-- ******************************************About Section************************************ -->
<div id="about">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 section-title text-center">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div>


      <a class="twitter-timeline" data-width="400" data-height="525" data-theme="light" href="https://twitter.com/DeltaChiClemson">
        Tweets by DeltaChiClemson</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <div class="col-xs-12 col-md-6 about-div">
        <div class="about-text">
          <h4>Who We Are</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo.</p>
          <h4>What We Do</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante.</p>
          <h4>Why Choose Us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
  </div>
</div>
<!--******************************************** Portfolio Section******************************* -->
<div id="portfolio">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 section-title text-center">
      <h2>Visual Dynamo</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div>
    <div class="row">
      <div class="portfolio-items">
          <% @carousel_items.each do |item| %>
            <div class="col-sm-6 col-md-3 col-lg-3 web">
              <div class="portfolio-item">
                <%= image_tag "#{item.file_name}", class:"carousel_pictures" %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <% if current_user.nil? %>
    <% elsif current_user.admin? %>
      <%= link_to "Add More Pictures", new_carousel_item_path, class: "button" %>
    <% end %>
  </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Team Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="team" class="text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 section-title">
      <h2>Meet the Team</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div>
    <div id="row">
      <!-- <%= @execs.each do |pic| %> -->
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"><%= image_tag pic.file_name , class: 'img-circle team-img'%>
          <div class="caption">
            <h3 class="team-title"> <%= pic.name %> </h3>
            <p><%= pic.title %></p>
          </div>
        </div>
      </div>
      <!-- <% end %> -->
    </div>
  </div>
  <% if current_user.nil? %>
  <% elsif current_user.admin? %>
  <%= link_to "Add Execs", new_exec_path, class: "button" %>
  <%= link_to "Edit Execs", execs_path, class: "button" %>
  <% end %>
</div>
<!--************************************* Contact Section ****************************-->
<div id="contact" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 section-title">
        <h2>Leave Us A Message</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
      </div>
      <div class="col-md-8 col-md-offset-2">

        <div class="contact-us">
          <%= form_for @contact do |f| %>

          <div class="form_line">
            <%= f.text_field :email, class: "form-control", placeholder: "Email", required: "required" %>
          </div>

          <div class="form_line">
            <%= f.text_area :message, size: '50x10', class: "form-control", placeholder: "Message", required: "required" %>
          </div>

          <%= f.submit "Send Message", class: "btn btn-default"%>

          <% end %>
        </div>
      </div>
    </div>
    <% if current_user.nil? %>
    <% elsif current_user.admin? %>
      <%= link_to "View Messages", contacts_path, class: "button" %>
    <% end %>
  </div>
</div>
<!--*************************footer*****************************  -->
<div id="footer">
  <div class="social-media text-center">
    <ul class="social-ul">
      <li class="social-li"><%= link_to image_tag('clemson-logo.png'), 'http://www.clemson.edu' %> </li>
      <li class="social-li"><%= link_to image_tag('twitter-logo.png'), 'https://twitter.com/DeltaChiClemson' %> </li>
      <li class="social-li"><%= link_to image_tag('facebook-logo.png'), 'https://www.facebook.com/deltachiclemson' %> </li>
      <li class="social-li"><%= link_to image_tag('DX-logo.png'), 'http://deltachi.org/' %> </li>
      <li class="social-li"><%= link_to image_tag('email-logo.png'), 'mailto:dchi@clemson.edu' %> </li>
    </ul>
  </div>
  <div class="container text-center">
    <p>Made by <a href="https://latter-jacob.github.io" rel="nofollow">Jacob Latter</a></p>
    <% if current_user.nil? %>
      <p class="admin"><%= link_to '∆X', new_user_session_path %></p>
    <% else %>
      <p class="admin"><%= link_to '∆X', destroy_user_session_path, method: :delete %></p>
    <% end %>
  </div>
</div>
</body>
</html>
